In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression, ElasticNetCV, ElasticNet
from sklearn.metrics import mean_absolute_error, r2_score, explained_variance_score
from sklearn.model_selection import train_test_split

# Data imputation
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import GridSearchCV

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

sns.set_style("whitegrid")

import warnings
warnings.filterwarnings('ignore')

import dsutils as du
import dengue_utils as dutils

In [2]:
features_train = pd.read_csv('../data/dengue_features_train.csv')
labels_train = pd.read_csv('../data/dengue_labels_train.csv')

features_test = pd.read_csv('../data/dengue_features_test.csv')

In [3]:
input_train_dataset = features_train.merge(labels_train, 
                                           left_on = ['city', 'year', 'weekofyear'], 
                                           right_on = ['city', 'year', 'weekofyear'],
                                           how = 'inner')

## Mean of last X weeks

In [ ]:
climate_variables = df.columns.copy()
climate_variables = climate_variables.drop(['weekofyear', 'city', 'year'])

print('3. Feature selection ' + climate_variables)

if train == True:
    climate_variables = climate_variables.drop('total_cases')

In [13]:

input_train_dataset['precipitation_amt_mm_shift'] = (input_train_dataset
                        .sort_values(['city', 'year', 'weekofyear'], ascending=True)
                        .groupby(['city', 'year'])['precipitation_amt_mm']
                        .shift(2))
    
input_train_dataset[['city', 'year', 'weekofyear', 'precipitation_amt_mm', 'precipitation_amt_mm_shift']].head()

  city  year  weekofyear  precipitation_amt_mm  precipitation_amt_mm_shift
0   sj  1990          18                 12.42                         NaN
1   sj  1990          19                 22.82                         NaN
2   sj  1990          20                 34.54                       12.42
3   sj  1990          21                 15.36                       22.82
4   sj  1990          22                  7.52                       34.54

In [18]:
r = input_train_dataset['precipitation_amt_mm'].rolling(window=4)
r.mean().head()

0       NaN
1       NaN
2       NaN
3    21.285
4    20.060
Name: precipitation_amt_mm, dtype: float64

In [19]:
(12.42 + 22.82) / 2

17.62

In [ ]:
def